<!DOCTYPE html>
<html>

<head>
    <title>SpendPoints</title>
    <link href="{{ url_for('static', filename='reset.css') }}" rel="stylesheet" type="text/css">
    <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<body>
    <header>
        <ul>
            <li><a class="active" id="main" href="/">Home</a></li>
            <li><a id="added_transactions" href="/added_transactions">Transactions</a></li>
            <li><a id="spend" href="/spend">Spend</a></li>
            <li><a id="balance" href="/balance">Balances</a></li>
        </ul>

    </header>

    <h2>SpendPoints</h2>
    <main>
        <div class="formal">
            <form method="POST">
                <label id="ll" for="points">Points (No negative numbers):</label><br>
                <input type="text" id="points" name="points"><br><br>
                <input type="submit" name="submit" value="Submit">
            </form>
        </div>
    </main>
</body>
<footer>
    {% with messages = get_flashed_messages(with_categories=true) %} {% for category, message in messages %}
    <div class="{{ category }}">{{ message }} </div>
    {% endfor %} {% endwith %} {% for item in data %}
    <p id="logs"> {{ item }} </p>
    {% endfor %}
</footer>

</html>